<div class="tilesWrap_container">

<ul class="tilesWrap">
	<li>
		<h2>01</h2>
		<h3>A Tweeter-like app</h3>
		<p>
			A full micropost SaaS. <b>Publish</b> your posts, view others posts in your <b>feed</b>, <b>follow</b> other users and be followed by them.
		</p>
		<button>Read more</button>
	</li>
	<li>
		<h2>02</h2>
		<h3>Full code coverage</h3>
		<p>
			Each feature is covered by 78 tests and more of 450 assertions, including <b>Units tests</b> and <b>Integration tests</b> launched after each code updating.
		</p>
		<button>Read more</button>
	</li>
	<li>
		<h2>03</h2>
		<h3>A Ruby on Rails app</h3>
		<p>
			An all <b>Ruby on rails</b> back-end app. With <b>HTML / SCSS / BOOTSTRAP / AJAX</b> for the front-end and a <b>PostgreSQL</b> database. Deployed on Heroku.
		</p>
		<button>Read more</button>
	</li>
	<li>
		<h2>04</h2>
		<h3>Open-source code</h3>
		<p>
    Find the all project on my repo Github  <a href="https://github.com/OlivierCalmels/sample_app" target="_blank">here</a> !
		</p>
	</li>
</ul>
</div>